FUNCTIONS_WORKER_RUNTIME=
FUNCTIONS_EXTENSION_VERSION=
DATABASE_HOSTNAME=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DB_SSL=
NODE_ENV=
LOG_LEVEL=
LOG_FORMAT=
JWT_SECRET=
EMAIL_ENABLED=
AZURE_COMMUNICATION_CONNECTION_STRING=
EMAIL_FROM=
EMAIL_FROM_NAME=
FRONTEND_URL=
RESET_PASSWORD_PATH=
PASSWORD_RESET_TOKEN_EXPIRY=
BOOTSTRAP_KEY=
AzureWebJobsStorage=
NOTIFICATION_HUB_ENABLED=
NOTIFICATION_HUB_CONNECTION_STRING=
NOTIFICATION_HUB_NAME=
NOTIFICATION_HUB_INTERNAL_KEY=
